@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.main{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 30.5%;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 10px;
    z-index: 1000;
}

/* Common styles for all screen sizes */
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#container{
    margin: 18px;
    margin-top: 20px;
    padding-top: 0px;
    position: absolute;
    top: 30%;
    z-index: -1;
    cursor: pointer;
}
.project-card {
    /* border: 1px solid #ccc;
    padding: 10px; */
    margin: 13px;
    width: 23%; /* 20% width with some margin on each side */
    text-align: left;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
}
p{
    font-weight: bold;
}
hr{
    margin-top: 0px;
    margin-bottom: 16px;
    border: 0;
    top: 7.5%;
    height: 1px;
    width: 100%;
    position: fixed;
    background-color: #eee;
    border-top: 1px solid #eee;
}
img {
    max-width: 100%;
    height: auto;
}

/* Responsive styles */
@media only screen and (max-width: 1238px) {
    .project-card {
        width:31% ;
    }
}
@media only screen and (max-width:1150px) {
    .project-card{
        width:47%
    }    
}
@media only screen and (max-width: 900px) {
    .project-card {
        width: 46% 
    }
}

@media only screen and (max-width: 687px) {
    .project-card {
        width: 45%;
    }
    .cat1, .cat2, .cat3, .cat4, .cat5, .cat6, .cat7{
        display: none;
    }
    .sort{
        left: 77% !important;
    }
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 34px;
}
.adobe{
    width: 10px;
}

.logo-container img {
    max-height: 16px;
    width: 82px;
}

.links-container{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    top: 34.1%;
    left: 8%;
    position: absolute;
}

.sharework{
    width: 25vh;
    height: 5vh;
    border-radius: 20px;
    border-color: 1px #000000;
    background-color: white;
    color: black;
    position: fixed;
    left: 72%;
}
.icons-container {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 4%;
}

.icons-container a {
    color: rgb(0, 0, 0);
    margin-right: 15px;
    top: 5px;
    position: relative;
    text-decoration: none;
}
.links-container a{
    color: rgb(0, 0, 0);
    margin-right: 15px;
    text-decoration: none;
}
.icons-container img {
    max-height: 20px; /* Adjust the height as needed */
    margin-left: 15px;
}

/* Collapsible Navbar styles */
.toggle-button {
    display: none; /* Initially hidden on larger screens */
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
    .links-container, .icons-container {
        display: none;
        flex-direction: column;
        text-align: center;
    }

    .toggle-button {
        display: block; /* Display toggle button on smaller screens */
    }

    .navbar.collapsed .links-container, .navbar.collapsed .icons-container {
        display: flex;
    }
}
.searchTerm{
    width: 100%;
    /* left: 2%; */
    position: relative;
    box-sizing: border-box;
    border: 2px solid #ccc;
    /* border-radius: 40px; */
    font-size: 16px;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
    background-color: white;
    background-image: url(assets/search-icon.png);
    background-position: 7px 8px;
    background-repeat: no-repeat;
    z-index: 1000;
    padding: 12px 20px 12px 40px;
}
.wrap{
    position: fixed;
    border-radius: 100%;
    /* padding-left: 20px; */
    left: 2%;
    width: 95%;
    height:51px;
    z-index: 1;
    top: 10%;
    /* justify-content: center; */
    display: flex;

}
.search{
    border-radius: 25px;
    width: 50%;
    z-index: 1000;
    
}
.optionList{
    right: 1%;
    display: flex;
    height: 100%;
    /* border-radius: inherit; */
    /* padding-left: 19px; */
    width: 50%;
    border-radius: 10px;
    /* border-left: 4px solid; */
    border: 2px solid #CCC;
    justify-content: space-around;
    position: absolute;
    background-color: white;
    border-left: white;
    /* padding-top: 10px; */
    padding: 11px;
    /* z-index: 0; */
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    
}
.optionList a{
    text-decoration: none;
    color: #000000;
    padding: 2px;
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    top: 0px;
    bottom: -89px;
}
.optionList a:hover{
    background-color: #e2e1e1;
}
.optionList .active{
    background-color: #000000;
    color: white;
}
.suggestions{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
    flex-direction: column;
    left: 26px;
    /* max-height: 115%; */
    /* opacity: 0; */
    display: none;
    overflow: hidden;
    padding-bottom: 10px;
    height: 228%;
    padding-top: 50px;
    position: absolute;
    /* right: -46px; */
    z-index: 1;
    top: 25%;
    width: 47.5%;
    will-change: transform;
}
.sugSearch{
    right: 70%;
    position: fixed;
    bottom: 35%;
    display: block;
}
.sugSearch h3 {
    text-decoration: none;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 4px;
    cursor: pointer;

}
.sugSearch a{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}
.category{
    display: flex;
    padding: 8px;
    padding-left: 0px;
    top: 18%;
    justify-content: flex-start;
    position: fixed;
    padding-bottom: 12px;
    right: 0%;
    margin-left: 0px;
    background-color: white;
    width: 100%;
}
.cat1, .cat2, .cat3, .cat4, .cat5, .cat6, .cat7{
    left: 3%;
    margin: 12px;
    position: relative;
    padding: 7px 4px;
    border: 1px #d8d7d7;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
}
.cat1:hover, .cat2:hover, .cat3:hover, .cat4:hover, .cat5:hover, .cat6:hover, .cat7:hover{
    border: 1px #000000;
    border-color: #000000;
    border-style: solid;
    transition: 500ms;
}

.sort{
    position: fixed;
    left: 89%;
    line-height: 1;
}
svg{
    top: 28%;
    /* position: absolute; */
}
.category span{
    top: -2px;
    position: relative;
}
.no2{
    margin-top: 0px;
    margin-bottom: 8px;
    border: 0;
    top: 30.5%;
    height: 0;
    width: 100%;
    z-index: -1;
    position: fixed;
    background-color: #eee;
    border-top: 1px solid #eee;
}
.autocomplete-suggestions p{
    font-size: large;
}
.autocomplete-suggestions{
    margin: 10px;
    padding: 10px;
    line-height: 1.5;
    cursor: pointer;
}
.clear-button{
    display: block;
    position: fixed;
    top: 11.5%;
    left: 47%;
    z-index: 1000;
    font-size: x-large;
    cursor: pointer;
}
.sorting{
    font-size: inherit;
    position: absolute;
    padding: 5px;
    border: white;
}
.sort p{
    top: 10px;
    left: 6px;
    position: relative;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Modal content */
  .modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
  }
  
  /* Close button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #000000 !important;
    font-size: 50px;
    opacity: 1;
    font-weight: 100;
    cursor: pointer;
  }
.like-button {
    height: 29px;
    top: -19em;
    position: static;
    width: 28px;
    display: flex;
    /* opacity: 0.5; */
    /* left: 130px; */
    float: right;

}


/* Styles for smaller screens (e.g., mobile) */
@media only screen and (max-width: 768px){
    .nav-bar {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    .nav-bar.show {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .links-container a {
        color: #fff;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: block;
    }

    .toggle-button {
        display: block;
        position: absolute;
        top: 14px;
        /* right: 20px; */
        font-size: 20px;
        color: #000000;
        background: none;
        border: none;
        cursor: pointer;
    }
    .navbar{
        display: none;
        background-color: #e0e0e0;
        height: 1790%;
        width: 50%;
        top: 847%;
        font-size: large;
        border: #000000;
        box-sizing: border-box;
        left: -52%;
        line-height: 3;
    }
    ul{
        list-style-type: none;
        margin-top: 0;
        margin-bottom: 10px;
        top: 7%;
        /* float: left; */
        left: -1%;
        position: absolute;
    }
    ul li a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        
    }
    .logo-container{
        left: 6%;
        position: relative;
    }
}
.navbar{
    display: none;
}
